<section data-ng-controller="HomeController">
	<div class="jumbotron text-center" ng-if="!authentication.user">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
				Zuhlke Logo
			</div>
		</div>
		<br>
		<div class="row">
			<p class="lead">
				Roadmapper
			</p>
		</div>
		<div class="row">
				More info
		</div>
	</div>
	<div data-ng-if="authentication.user" data-ng-controller="ProjectsController" data-ng-init="find()" >

		<div data-ng-if="projects.length > 0">

			<h2>Your Projects</h2>

			<div class="row" data-ng-repeat="project in projects">

				<div class="col-lg-6">
					<a href="/#!/projects/{{project._id}}">{{project.name}}</a>
				</div>
				<div class="col-lg-3">
					some description
				</div>

				<div class="col-lg-3">
					maybe creation date
				</div>


			</div>
		</div>
		<div data-ng-if="projects.length === 0">
			You have to create a project
		</div>
	</div>
</section>
