<section data-ng-controller="HomeController">
	<div class="jumbotron text-center" ng-if="!authentication.user">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
				Zuhlke Logo
			</div>
		</div>
		<br>
		<div class="row">
			<p class="lead">
				Roadmapper
			</p>
		</div>
		<div class="row">
				More info
		</div>
	</div>
	<div data-ng-if="authentication.user" data-ng-controller="ProjectsController" data-ng-init="find()">
		{{projects | json}}
		<h2>Congrats! You've configured and run the sample application.</h2>
		<p>MEAN.JS is a web application boilerplate, which means you should start changing everything :-)</p>
		<p>This sample application tracks users and articles.</p>
		<ul>
			<li>
				Click
				<em>Signup</em>
				to get started.
			</li>
			<li>
				Configure your app to work with your social accounts, by editing the
				<em>/config/env/*.js</em>
				files.
			</li>
			<li>
				Edit your users module.
			</li>
			<li>
				Add new CRUD modules.
			</li>
			<li>
				Have fun...
			</li>
		</ul>
	</div>
</section>
