<section data-ng-controller="RoadmapsController" data-ng-init="findOne()">

    <script type="text/ng-template" id="removeRoadmapModal.html">
            <div class="modal-header"  style="text-align: center">
                <h3 class="modal-title">Are you sure you want to delete this Roadmap?</h3>
            </div>

            <div class="modal-footer">
                <button class="btn btn-primary btn-danger" style="width: 150px" ng-click="ok()">OK</button>
                <button class="btn btn-primary" style="width: 150px" ng-click="cancel()">Cancel</button>
            </div>
    </script>

    <script type="text/ng-template" id="copyRoadmapModal.html">
        <div class="modal-header"  style="text-align: center">
            <h3 class="modal-title">Copy Roadmap</h3>
        </div>

                <div class="modal-body">
                    <div class="form-group">

                        <div class="input-group">
                            <div class="input-group-addon">Name</div>
                            <input type="text" data-ng-model="newName" class="form-control"
                                   placeholder="Name of new roadmap">

                        </div>


                    </div>
                </div>

        <div class="modal-footer">
            <button class="btn btn-primary" style="width: 150px" ng-click="ok()">OK</button>
            <button class="btn btn-primary" style="width: 150px" ng-click="cancel()">Cancel</button>
        </div>
    </script>


    <div class="page-header noprint">

        <div class="row">
            <div class="col-xs-6">
                <h1><a href="/#!/projects/{{project._id}}">{{project.name}}</a>
                    <small>{{roadmap.name}}</small>
                </h1>
            </div>
            <div class="col-xs-6" style="text-align: right; margin-top: 20px">
                <div>
                    <a class="btn btn-primary noprint" data-ng-click="copyPopup();">
                        <i class="glyphicon glyphicon-copy"></i>
                    </a>
                    <a class="btn btn-primary noprint" data-ng-click="removePopup();">
                        <i class="glyphicon glyphicon-trash"></i>
                    </a>

                </div>
            </div>
        </div>

    </div>

    <div class="row" style="padding-bottom: 20px; vertical-align: middle; position: relative">


        <div class="col-xs-4 noprint" style="text-align: right">

            <!--<a class="btn btn-primary" data-ng-click="update();">-->
            <!--<i class="glyphicon glyphicon-floppy-disk"></i>-->
            <!--</a>-->


        </div>
    </div>


    <div class="noprint panel panel-success">

        <div class="panel-heading">


            <div class="row">

                <div class="col-xs-6">
                    <h3 class="panel-title">Simulation</h3>
                </div>


            </div>

        </div>

        <div class="panel-body">


            <div class="row">
                <div class="col-xs-3">
                    <div class="form-group">

                        <div class="input-group">
                            <div class="input-group-addon">Cell Width</div>
                            <input type="number" data-ng-model="cellWidth" class="form-control"
                                   placeholder="Width">

                            <div class="input-group-addon">px</div>
                        </div>


                    </div>
                </div>


                <div class="col-xs-3">

                    <div class="form-group">

                        <div class="input-group">
                            <div class="input-group-addon">Label Width</div>
                            <input type="number" data-ng-model="labelWidth" class="form-control"
                                   placeholder="Width">

                            <div class="input-group-addon">px</div>
                        </div>


                    </div>

                </div>

                <div class="col-xs-3">

                    <div class="form-group">

                        <div class="input-group">
                            <div class="input-group-addon">Simulations</div>
                            <input type="number" data-ng-model="simulationNumber" class="form-control"
                                   placeholder="Number of runs">

                        </div>


                    </div>

                </div>


                <div class="col-xs-3">

                    <div>
                        <input type="checkbox" data-ng-model="showExpected"
                               placeholder="Number of runs" style="margin-right: 5px"> Show expected end date
                    </div>
                    <div>
                        <input type="checkbox" data-ng-model="showInterval"
                               placeholder="Number of runs" style="margin-right: 5px"> Show 95% interval

                    </div>
                </div>


            </div>


        </div>

        <div>

            <style>
                #tooltip {
                    position: absolute;
                    width: 200px;
                    height: auto;
                    padding: 10px;
                    background-color: white;
                    -webkit-border-radius: 10px;
                    -moz-border-radius: 10px;
                    border-radius: 10px;
                    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
                    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
                    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
                    pointer-events: none;
                }

                #tooltip.hidden {
                    display: none;
                }

                #tooltip p {
                    margin: 0;
                    font-family: sans-serif;
                    font-size: 12px;
                    line-height: 20px;
                }
            </style>

            <div id="tooltip" class="hidden">
                <p><span id="value"/></p>
            </div>

            <!--<div id='heatmap' data-ng-controller="HeatmapController" data-ng-init="init(data, cols, rows)">-->
            <div id="heatmap" class="heatmap" data-ng-show="heatmapVisible">


            </div>

            <div style="text-align: center; padding-bottom: 10px;">
                <a class="btn btn-primary " style="width: 150px;" data-ng-click="run();">
                    <span data-ng-show="heatmapVisible">run again</span>
                    <span data-ng-show="!heatmapVisible">run</span>
                </a>

            </div>
        </div>
    </div>


    <div class="noprint panel panel-success">


        <div class="panel-heading">Data</div>

        <div class="panel-body">
            <form ng-submit="addEpic()">


                <div class="row">


                    <div class="col-xs-4">
                        <div class="btn-group">
                            <label class="btn btn-primary" ng-model="roadmap.estimationModel" style="min-width: 100px"
                                   btn-radio="'normal'">Normal</label>
                            <label class="btn btn-primary" ng-model="roadmap.estimationModel" style="min-width: 100px"
                                   btn-radio="'PERT'">PERT</label>
                        </div>
                    </div>

                    <div class="col-xs-4">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">Start Date</div>
                                <input type="text" style="height:48px;" class="form-control" is-open="datePickerOpen"
                                       datepicker-popup="{{format}}" ng-model="roadmap.start" ng-required="true"
                                       close-text="Close"/>
              <span class="input-group-btn">
                <button style="height:48px;" type="button" class="btn btn-default" ng-click="openDatePicker($event)"><i
                        class="glyphicon glyphicon-calendar"></i></button>
              </span>
                            </div>
                        </div>
                    </div>


                    <div class="col-xs-4">
                        <div class="form-group">

                            <div class="input-group">
                                <div class="input-group-addon">Add Epic</div>
                                <input type="text" data-ng-model="epicName" style="height:48px;" class="form-control"
                                       placeholder="Epic">

                                <div class="input-group-addon"><a class="btn btn-primary" href=""
                                                                  data-ng-click="addEpic()">
                                    <i class="glyphicon glyphicon-plus-sign"></i>
                                </a></div>

                            </div>


                        </div>
                    </div>
                </div>

                <div class="row" data-ng-if="project.epics.length === 0">
                    <div class="col-xs-12">
                        There are no epics for this project. Please add one.
                    </div>
                </div>

                <div data-as-sortable="dragControlListeners" data-ng-model="project.epics">
                    <div class="row" data-ng-repeat="epic in project.epics" data-as-sortable-item>
                        <div data-as-sortable-item-handle
                             style="padding-left: 10px; padding-top: 5px; padding-bottom: 5px">
                            <a href="" data-ng-click="removeEpic(epic)">
                                <i class="glyphicon glyphicon-minus-sign "></i>
                            </a>
                            {{epic}}
                        </div>
                    </div>
                </div>


            </form>


            <div data-as-sortable="dragControlListeners" data-ng-model="roadmap.epics" style="margin-top: 10px">
                <div data-as-sortable-item data-ng-repeat="epic in roadmap.epics">
                    <div class="row draggable" data-as-sortable-item-handle>


                        <div class="col-xs-4" style="padding-top:10px; padding-left: 35px">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">Name</div>
                                    <input type="text" data-ng-model="epic.name"
                                           class="form-control"
                                           placeholder="Epic">

                                    <div class="input-group-addon"><a href="" data-ng-click="removeEpic(epic)">
                                        <i class="glyphicon glyphicon-minus-sign "></i>
                                    </a></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-4" style="padding-top:10px" data-ng-if="roadmap.estimationModel == 'normal'">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">Estimated Duration [days]</div>
                                    <input type="text" data-ng-model="epic.estimated"
                                           class="form-control"
                                           placeholder="Epic">
                                </div>
                            </div>
                        </div>


                        <div class="col-xs-4" style="padding-top:10px; padding-right: 25px"
                             data-ng-if="roadmap.estimationModel == 'normal'">
                            <div class="input-group">
                                <div class="input-group-addon">Deviation [days]</div>
                                <input type="text" data-ng-model="epic.deviation"
                                       class="form-control"
                                       placeholder="Epic">

                            </div>
                        </div>


                        <div class="col-xs-8" style="padding-top:10px; padding-right: 25px"
                             data-ng-if="roadmap.estimationModel == 'PERT'">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">Low [days]</div>
                                    <input type="text" data-ng-model="epic.low"
                                           class="form-control"
                                           placeholder="Low">

                                    <div class="input-group-addon">Expected [days]</div>
                                    <input type="text" data-ng-model="epic.expected"
                                           class="form-control"
                                           placeholder="Expected">

                                    <div class="input-group-addon">High [days]</div>
                                    <input type="text" data-ng-model="epic.high"
                                           class="form-control"
                                           placeholder="High">
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
