<section data-ng-controller="ProjectsController" data-ng-init="findOne()">
    <div class="page-header">
        <h1 data-ng-bind="project.name"></h1>
    </div>



    <div class="content" >


            <div class="row">
                <div class="col-xs-2 col-xs-offset-7">
                    <label>Add a new Epic</label>
                </div>

                <div class="col-xs-2">
                    <input type="text" data-ng-model="epicName">
                </div>
                <div class="col-xs-1">
                    <a class="btn btn-primary" href="" data-ng-click="addEpic()">
                        <i class="glyphicon glyphicon-plus-sign"></i>
                    </a>
                </div>
            </div>

        <div class="row" data-ng-if="project.epics.length === 0">
            <div class="col-xs-12">
            There are no epics for this project. Please add one.
            </div>
        </div>

        <div data-ng-repeat="epic in project.epics">

            <div class="col-xs-12">
                {{epic}}
            </div>

        </div>

    </div>

    <div class="content" >

        <div class="pull-right" >

            <div class="row">
                <div class="col-xs-5">
                    <label>Add a new Roadmap</label>
                </div>

                <div class="col-xs-5">
                    <input type="text" data-ng-model="roadmapName">
                </div>
                <div class="col-xs-2">
                    <a class="btn btn-primary" href="" data-ng-click="addRoadmap()">
                        <i class="glyphicon glyphicon-plus-sign"></i>
                    </a>
                </div>
            </div>
        </div>

        <div data-ng-if="project.roadmaps.length === 0">
            There are no roadmaps for this project. Please add one.
        </div>

        <div data-ng-repeat="map in project.roadmaps">

            <div data-ng-controller="RoadmapsController" data-ng-init="findById(map)">
                {{roadmap.name}}
            </div>

        </div>
    </div>


</section>
