<section data-ng-controller="ProjectsController" data-ng-init="findOne()">
    <div class="page-header">
        <h1 data-ng-bind="project.name"></h1>
    </div>


    <div class="container">


        <h3>Epics</h3>

        <div class="row">
            <div class="col-xs-12">
                <label>Add a new Epic</label>
                <input type="text" data-ng-model="epicName">
                <a class="btn btn-primary" href="" data-ng-click="addEpic()">
                    <i class="glyphicon glyphicon-plus-sign"></i>
                </a>
            </div>
        </div>

        <div class="row" data-ng-if="project.epics.length === 0">
            <div class="col-xs-12">
                There are no epics for this project. Please add one.
            </div>
        </div>

        <div data-as-sortable="board.dragControlListeners" data-ng-model="project.epics" style="margin-top: 10px">
            <div data-ng-repeat="epic in project.epics" data-as-sortable-item>
                <div data-as-sortable-item-handle style="padding-left: 10px; padding-top: 5px; padding-bottom: 5px">{{epic}}</div>
            </div>
        </div>

        <!--<ul data-as-sortable data-ng-model="project.epics">-->

            <!--<li ng-repeat="epic in project.epics" class="col-xs-12" data-as-sortable-item>-->
                <!--<div data-as-sortable-item-handle>-->
                    <!--<a href="" data-ng-click="removeEpic(epic)">-->
                        <!--<i class="glyphicon glyphicon-minus-sign "></i>-->
                    <!--</a>{{epic}}-->
                <!--</div>-->
            <!--</li>-->

        <!--</ul>-->

    </div>

    <div class="container">

        <h3>Roadmaps</h3>

        <div class="row">
            <div class="col-xs-12">
                <label>Add a new Roadmap</label>
                <input type="text" data-ng-model="roadmapName">
                <a class="btn btn-primary" href="" data-ng-click="addRoadmap()">
                    <i class="glyphicon glyphicon-plus-sign"></i>
                </a>
            </div>
        </div>

        <div data-ng-if="project.roadmaps.length === 0">
            <div class="col-xs-12">
                There are no roadmaps for this project. Please add one.
            </div>
        </div>

        <div data-ng-repeat="map in project.roadmaps">

            <div data-ng-controller="RoadmapsController" data-ng-init="findById(map)">
                <div class="col-xs-12">
                    {{roadmap.name}}
                </div>
            </div>

        </div>
    </div>


</section>
